@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Inconsolata:wght@300;400;500;600;700;800;900&family=Montserrat:wght@200;400;500;600;700;800&display=swap");

:root {
  --primary-color: #f3e9e7;
  --secondary-color-dark: #e76f3d;
  --secondary-color-light: #feab6b;
  --complementary-color-dark: #00a7c7;
  --complemenatry-color-light: #9bcfe0;

  --priary-font: "Montserrat", sans-serif;
  --heading-font: "Amatic SC", cursive;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  /*font-family: "Inconsolata", monospace;*/
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--primary-color);
}
