.container {
  background: var(--secondary-color-light);
  position: sticky;
  top: 0;
  z-index: 999;
}
.navbarLinks {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.link {
  display: flex;
}
.link span {
  display: block;
}
.call {
  margin: 0 1.5rem;
}
.call span {
  font-weight: 400;
  font-size: 1.2rem;
  color: white;
}
.logo {
  text-transform: uppercase;
  font-style: italic;
  font-family: var(--heading-font);
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--complementary-color-dark);
  cursor: pointer;
  -webkit-text-stroke: 0.05rem var(--secondary-color-dark);
}
.cart {
  position: relative;
}

.counter {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #d1411e;
}
