.container {
  width: 90vw;
  padding: 2rem;
  flex-direction: column;
  margin: auto;
}

@media (max-width: 110em) {
  .container {
    width: 95vw;
    padding: 1rem;
  }
}
.header {
  font-family: var(--heading-font);
  text-transform: uppercase;
  font-size: 3.5rem;
  text-align: center;
}

.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
